<?xml version="1.0" encoding="utf-8"?>
<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog/1.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog/1.9 http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-1.9.xsd">
  <!--Menu settings-->
  
    <changeSet author="csteele" id="1" >
        <preConditions onFail="MARK_RAN">
            <sqlCheck expectedResult="0">
                select count(*) from clinlims.menu where element_id = 'menu_eorders_view';
    		</sqlCheck>
        </preConditions>
        <comment>Insert in clinlims new menu electronic orders</comment>
        <sql>
 
            INSERT INTO clinlims.menu(id, parent_id, presentation_order, element_id, action_url, click_action, display_key, tool_tip_key, new_window, is_active)
            VALUES (nextval('clinlims.menu_seq'),(select id from clinlims.menu where element_id='menu_sample'),5,'menu_sample_eorder','/ElectronicOrders.do',default,'banner.menu.eorders','tooltip.bannner.menu.eorders',default,default);

        </sql>
    </changeSet>
  
</databaseChangeLog>
